<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Massage</title>
</head>
<body>
<div th:fragment="footer">
    <div class="footer">

        <div class="container">


            <div class="row">
                <div class="col-lg-3 col-sm-3">
                    <h4 th:text="#{index.Information}">Information</h4>
                    <ul class="row">
                        <li class="col-lg-12 col-sm-12 col-xs-3"><a href="/about" th:text="#{index.About}">About</a>
                        </li>
                        <li class="col-lg-12 col-sm-12 col-xs-3"><a href="/agents" th:text="#{index.Agents}">Agents</a>
                        </li>
                        <li class="col-lg-12 col-sm-12 col-xs-3"><a href="/blog" th:text="#{index.Blog}">Blog</a></li>
                        <li class="col-lg-12 col-sm-12 col-xs-3"><a href="/contact"
                                                                    th:text="#{index.Contact}">Contact</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-sm-3">
                    <h4 th:text="#{index.Newsletter}">Newsletter</h4>
                    <p th:text="#{index.Get.notified.about.the.latest.properties.in.our.marketplace}">Get notified about
                        the latest properties in our marketplace.</p>
                    <form class="form-inline" role="form">
                        <input type="text" placeholder="Enter Your email address" class="form-control">
                        <button class="btn btn-success" type="button">Notify Me!</button>
                    </form>
                </div>

                <div class="col-lg-3 col-sm-3">
                    <h4 th:text="#{index.Follow.us}">Follow us</h4>
                    <a href="https://www.facebook.com/itspace.am/"><img src="images/facebook.png" alt="facebook"></a>
                    <a href="#"><img src="images/twitter.png" alt="twitter"></a>
                    <a href="#"><img src="images/linkedin.png" alt="linkedin"></a>
                    <a href="#"><img src="images/instagram.png" alt="instagram"></a>
                </div>

                <div class="col-lg-3 col-sm-3">
                    <h4 th:text="#{index.Contact.us}">Contact us</h4>
                    <p><b th:text="#{index.Real.Estate.agency}">Real estate agency</b><br>
                        <span class="glyphicon glyphicon-map-marker" th:text="#{index.ITSpace.LLC.Shirakatsi.Gyumri}">ITSpace LLC. Shirakatsi 104. Gyumri</span><br>
                        <span class="glyphicon glyphicon-envelope"></span> hello@bootstrapreal.com<br>
                        <span class="glyphicon glyphicon-earphone"></span> (123) 456-7890</p>
                </div>
            </div>
            <p class="copyright"><a href="https://www.facebook.com/itspace.am/">ITspace LLC 2021</a></p>


        </div>
    </div>


    <!-- Modal -->
    <div id="loginpop" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="row">
                    <div class="col-sm-6 login">
                        <h4 th:text="#{index.Login}">Login</h4>
                        <form class="" role="form">
                            <div class="form-group">
                                <label class="sr-only" for="exampleInputEmail2">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail2"
                                       placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="exampleInputPassword2">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword2"
                                       placeholder="Password">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Remember me
                                </label>
                            </div>
                            <button type="submit" class="btn btn-success"th:text="#{index.Sign.in}">Sign in</button>
                        </form>
                    </div>
                    <div class="col-sm-6">
                        <h4 th:text="#{index.New.User.Sign.Up}">New User Sign Up</h4>
                        <p th:text="#{index.Join.today.and.get.updated.with.all.the.properties.deal.happening.around}">Join today and get updated with all the properties deal happening around.</p>
                        <button type="submit" class="btn btn-info" onclick="window.location.href='/register'"th:text="#{index.Join.Now}">Join Now
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- /.modal -->
</div>
</body>
</html>



