<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <div th:include="/fragments/header::stile"></div>
</head>
<body>
<div th:include="/fragments/header:: header"></div>
<div class="inside-banner">
  <div class="container"> 
    <span class="pull-right"><a href="/index">Home</a> / Register</span>
    <h2 style="color:#449d44">Please register for add home</h2>
</div>
</div>


<div class="container">
<div class="spacer">
<div class="row register">
  <div class="col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 ">

      <form action="/addUser" method="post">
                <input type="text" class="form-control" placeholder="Full Name" name="name">
                <input type="text" class="form-control" placeholder="Surname" name="surname">
                <input type="email" class="form-control" placeholder="Enter Email" name="email">
                <input type="number" class="form-control" placeholder="Phone number" name="phoneNumber">
                <input type="password" class="form-control" placeholder="Password" name="password">
                <input type="password" class="form-control" placeholder="Please input password once again" name="passwordConfig">
      <button type="submit" class="btn btn-success" name="Submit" value="add">Register</button>
      </form>


                
        </div>
  
</div>
</div>
</div>

<div th:include="/fragments/footer::footer"></div>
</body>
</html>
